body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #e6f0ff; /* couleur de fond */
}

nav {
  background-color: #1f1f1f;
  padding: 10px 20px;
  text-align: center;
}

nav a {
  color: white;
  text-decoration: none;
  margin: 0 15px;
  font-size: 18px;
  transition: color 0.3s;
}

nav a:hover {
  color: #00ffcc;
}

.container {
  padding: 50px;
  text-align: center;
}

h1 {
  color: #333;
}

p {
  font-size: 18px;
}
